*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:58.76px ;
}
.navigation-logo img{
    width: 107px;
    height: 1rem;
}
.navigation-content ul{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    list-style: none;
    display: flex;
    gap: 20px;

}
.navigation-button{
    height: 37px;
    width: 133px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
#first-section{
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.first_content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.register_button{
    width: 90px;
    height: 37px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    
}
.register_button a{
    text-decoration: none;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.first_color{
    color: #4CAF4F;
}
.second_section_container{
    margin-bottom: 13px;
}
.second_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-container {
    margin-top:5px;
    padding: 10px;
    position: relative;
}
.second-container h2{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4D4D4D;
}
.second-container p{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.image_content{
    margin-top:2px;
    display: flex;
    gap: 5rem;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_data{
    margin-top: 48px;
    padding: 48px;
    display: flex;
    flex-direction:row;
    gap:150px;
}
.center_data{
    text-align: center;
}

.container h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #4D4D4D;
}

.center_data {
    display: inline-block; 
}
.container_section{
    margin-top:6px ;
    display: flex;
    flex-direction: column;
}
.container_image{
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_image h3{
    color: #4D4D4D;

}
.container_image img{
    height: 50px;
    width: 75px;
    object-fit: contain;

}
.container_para{
    margin-top: 6px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.container_para p{
    margin-top: 3px;
    font-size: 15px;
    text-align: center;
}


/* fourth section */
#fourth-section{
    color:#4D4D4D;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
#fourth-section img{
    width: 147px;
    height: 144px;
}
.fourth_content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.register{
    width: 250px;
    height: 37px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    
}
.fourth_content_data{
    width: 600px;
    height: 100px;
}
.register a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.first_color{
    color: #4CAF4F;
}
.second_color{
    color: #4CAF4F;
}
.fifth{
    
    padding-left: 48px;
    padding-bottom: 21px;
    padding-right: 48px;
    padding-top: 21px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.fifth_heading{
    margin-right: 50%;
    color: #4D4D4D;
}
.fifth_heading h3{
    margin-bottom: 6px;
}
.fifth_body{
    color: #4D4D4D;
    margin-right:20px;
    gap: 30px;
    display: flex;

}
